body{
    font-family: 'Times New Roman', Times, serif;
    background-color: cadetblue;
}

img{
    width: 210px;
    height: auto;
    margin: 5px;
    border: solid 2px rgb(37, 175, 185);
}

h1{
    font-weight: bold;
    text-align: center;
    color: rgb(105, 39, 39);
}

.principal{
    border: solid 2px black;
    width: 80%;
    margin: 0 auto;
    padding: 5px;
}

legend{
    border: solid 1px rebeccapurple;
    padding: 5px;
    border-radius: 20px;
    background:lightblue;
    font-weight: bold;
}

fieldset{
    border: solid 1px black;
    margin: 10px;
}

.grid{
    display: grid;
    grid-template-columns: 250px 250px 250px;
    gap: 1em;
    padding: 5px;
}

.grid div{
    border: solid 1px black;
    padding: 3px;
    
}